.iconePag {
    margin-top: 4rem;
    color: white;
}

.pageDetailHeaderContainer {
    margin: 0 12vw 4rem 12vw;
    max-width: 100%;
}

.infoAndNewsContainer{
    display: flex;
    padding: 2rem 12vw;
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 10rem;
}

.tituloCapa {
    font-size: 3rem;
}

.subTituloCapa {
    margin: 20px 10px;
    font-size: 18px;
}

.imgCapa {
    width: 318px;
    height: 450px;
    margin-right: 20px;
}

.boxVideo {
    display: flex;
    justify-content: space-between;
}

.generoObjeto {
    display: flex;
    margin-top: 10px;
}

.generoObjeto h5 {
    margin-right: 10px;
    font-size: 15px;
    border-radius: 20px;
    border: solid rgb(150, 150, 150);
    padding: 10px;
}

.detailInfoContainer {
    width: 100%;
    background-color: white;
}

.boxComplementar {
    max-width: 50vw;
    color: black;
}

.containerComplementaMap {
    margin-top: 20px;
    min-width: 700px;
    grid-row: 1/6;
}

.containerComplementaMap p {
    color: black;
    font-size: 18px;
    font-weight: bolder;
}

.boxFichaTecnica {
    margin-top: 2rem;
}

.boxFichaTecnica h2{
    margin-bottom: 1rem;
}

.boxFichaTecnica h4 {
    font-weight: 500;
}

.boxSemelhantes {
    margin-top: 60px;
}

.tituloNoticias {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.noticiasContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgSemelhantes {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 50px;
    gap: 10px;
    max-width: 550px;
}

.caixaSemelhante {
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.473);
    border-radius: 10px;
}

.caixaSemelhante h3 {
    margin-left: 20px;
}

.caixaSemelhante h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}