*{
    margin: 0;
    padding: 0;
}
.App{
    position: relative;
    z-index: 2;
    width: 100%;
    margin-left: 0;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    top: 200px;
}
.carousel{
    cursor: grab;
    overflow: hidden;
}
.titulo{
    display: inline-flex;
    color: white;
    margin-left: 20px;
}
.inner{
    display: flex;
}
.item{
    min-height: 200px;
    min-width: 300px;
    padding: 14px;
}
.item > img{
    border-radius: 12px;
    pointer-events: none;
}