@charset "UTF-8";
nav{
    width: 100%;
    padding: 0 10rem;
    display: flex;
    align-items: center;
}
h1{
    font-size: 2rem;
}
img{
    width: 60px;
    height: 59px;
    margin-right: 1rem;
}
ul{
    list-style-type: none;
}
ul > li > a{
    text-decoration: none;
    color: "black";
    marginRight: 0.5rem;
}
.logo{
    display: flex;
    color: black;
    width: 100%;
    align-items: center;
}
.container{
    height: 100px;
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
}
.DivUser{
    margin-top: 0.5rem;
}
