@charset "UTF-8";
.Banner{
    background-image: url(../../assets/image/Banner.jpg); /*  imagem tem q ter largura 1920 x altura835*/
    background-repeat: no-repeat;
    width: 1920px;
    height: 835px;
    background-position: center top;
    background-attachment: fixed;
}
nav{
    width: 100%;
    padding: 1rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-size: 2rem;
}
img{
    width: 60px;
    height: 59px;
    margin-right: 1rem;
}
ul{
    list-style-type: none;
}
ul > li > a{
    text-decoration: none;
    color: black;
    margin-right: 1rem;
}
.logo{
    display: flex;
    color: black;
    align-items: center;
}
.menu{
    align-items: center;
    display: flex;
}
.DivUser{
    margin-top: 0.5rem;
}
