@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.nav-container{
    width: 100%;
    padding: 1rem 14vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    color: white;
    align-items: center;
    z-index: 2;
}
.logo-img{
    width: 50px;
    height: 48px;
    margin-right: 24px;
}
.logo-title{
    font-size: 26px;
    font-family: 'Permanent Marker', cursive;
    color: white;
}
.mobile-menu{
    cursor: pointer; 
    display: none;
    z-index: 2;  
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}   
.list{
    list-style-type: none;
    display: flex;
    align-items: center;
}
ul > li:last-child{
    margin-left: 2rem;
}
ul > li:last-child:hover{
    background-image: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: #fff;
    margin: 0 1rem;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    font-family: "DM-sans", "sans-serif";
}
ul > li:hover{
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%);
    border-radius: 2px;
    padding: 0.8rem 0;
}

@media (max-width: 999px){
    .list{
        position: absolute;
        top: 80px;
        left: 0;
        width: 50vw;
        height: calc(100vh - 80px);
        background-image: linear-gradient(0deg, #0d0c0d 0%, #2c0051 100%);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    ul > li:last-child{
        margin-left: 0;
    }
    .mobile-menu{
        display: block;
    }

}

