*{
    margin: 0;
    padding: 0;
}
.tituloPagBusca{
    text-align: center;
}
.tituloPagBusca h1{
    margin: 2em;
}
.containerPagSearch{
    width: 100vw;
    text-align: center;
    min-height: 80vh;
    margin-bottom: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerResultadoPagSearch{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}
.tituloImgPagSearch{
    color: white;
    max-width: 200px;
    margin: auto;
}
.h1PagSearch{
    color: white;
}