*{
    margin: 0;
    padding: 0;
}
.tituloPagBusca{
    margin-left: 3.5%;
}
.tituloPagBusca h1{
    margin: 2em;
}
.tituloGeneroSearch{
    text-align: center;
    margin: 1%;
    margin-bottom: 6%;
}
.tituloLevelDoisSearch{
    color: white;
    font-size: 2em;
}
.containerPagSearch{
    width: 100vw;
    text-align: center;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerResultadoPagSearch{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 30px;
}

.tituloImgPagSearch{
    color: white;
    max-width: 200px;
    margin: auto;
}
.h1PagSearch{
    color: white;
}
.boxGeralSearch{
    margin-bottom: 10%;
}
