@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    max-width: 1440px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    background-color: #0d0c0d;
    background-image: linear-gradient(0deg, #0d0c0d 0%, #2c0051 100%);
}

