.mangas-container{
    margin: 5rem auto;
    color: white;
    text-align: center;
}

.generos-mangas-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 3rem auto;
}

.generos-mangas-container div{
    width: 290px;
    height: 290px;
    background-color: white;
}